.login .container.grid {
  height: calc(100vh - 70px);
  grid-template-columns: none;
  grid-gap: none;
  justify-content: center;
  align-items: center;
}

.auth-box.grid {
  width: 400px;
  height: 400px;
  background-color: rgb(var(--primary-green));
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(var(--black), 0.4);
  grid-template-columns: none;
  grid-template-rows: repeat(3, 1fr);
}

.auth-form.grid {
  grid-template-columns: none;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.logo {
  width: 80%;
  margin: 10px;
  display: inline-block;
}

.logo a {
  font-size: 2rem;
}

.auth-element {
    width: 80%;
    margin: 10px;
    display: relative;
}



/* --- Footer --- */

.footer {
  background-color: rgb(var(--primary-green));
  color: rgb(var(--white));
  height: 70px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.footer a {
  color: rgb(var(--white));
}

.imprints.flex {
  justify-content: left;
  align-items: center;
}

.imprints li {
  margin-right: 50px;
}

.socials.flex {
  justify-content: right;
  align-items: center;
}

.socials li {
  display: inline-block;
  margin-left: 50px;
  filter: invert(100%);
  align-items: center;
}

.socials img {
  vertical-align: middle;
}
