/* --- Header --- */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
    background-color: rgb(var(--white));
    color: rgb(var(--black));
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .header .grid {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    align-items: center;
  }
  
  .header ul {
    display: flex;
  }
  
  .navbar a {
    color: rgb(var(--black));
    padding: 7.5px;
    margin: 0 5px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .navbar li a:hover {
    background-color: rgba(var(--light-green), 0.3);
    color: rgb(var(--primary-green));
    border: none;
    border-radius: 10px;
  }
  
  .header .flex {
    justify-content: space-between;
  }
  
  .header-buttons.flex {
    justify-content: right;
  }
  
  .header-buttons a {
    margin-left: 30px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .log-in {
    color: rgb(var(--secondary-green));
    font-weight: 900;
  }
  
  .sign-up-header {
    color: rgb(var(--white));
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: rgba(var(--light-green), 0.5);
    box-shadow: 0 3px 10px rgba(var(--black), 0.4)
  }
  
  #progress-bar {
    height: 8px;
    background: rgb(var(--primary-green));
    width: 0%;
  }

  /* --- Footer --- */
  
  .footer {
    background-color: rgb(var(--primary-green));
    color: rgb(var(--white));
    height: 70px;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .footer a {
    color: rgb(var(--white));
  }
  
  .imprints.flex {
    justify-content: left;
    align-items: center;
  }
  
  .imprints li {
    margin-right: 50px;
  }
  
  .socials.flex {
    justify-content: right;
    align-items: center;
  }
  
  .socials li {
    display: inline-block;
    margin-left: 50px;
    filter: invert(100%);
    align-items: center;
  }
  
  .socials img {
    vertical-align: middle;
  }
  

/* --- welcome Containers --- */

.top-section {
  background-image: url("../img/project_background1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-section .main_title {
  font-family: 'Poppins', sans-serif;
  font-size: 400%;
  text-align: center;
  width: 100%; /* Adjust the width as needed */
  color: rgb(var(--dark-green));
  align-items: center;
  margin: 0 auto; /* Center horizontally */
  border-radius: 30px;
  opacity: 1;
}

.top-section .sub_title {
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
  text-align: center;
  width: 100%; /* Adjust the width as needed */
  color: rgb(var(--dark-green));
  margin: 0 auto; /* Center horizontally */
  border-radius: 30px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

  
  /* --- Info Containers --- */

  
  #project-odd {
    height: 500px;
    background: rgba(var(--primary-green), 0.1);
    color: rgb(var(--black));
    position: relative;
  }
  
  #project-even {
    height: 500px;
    background: rgba(var(--white), 0.05);
    color: rgb(var(--black));
    position: relative;
  }
  
  .info-text h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
  }
  
  .info-text p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .info-image img {
    margin: auto;
    width: 600px;
    height: 350px;
  }
  
  a {
    color: var(--primary-green);
  }
  
  a:hover {
    color:rgba(var(--dark-green));
    text-decoration:none;
  }
  